In [14]:
import pandas as pd

In [15]:
df = pd.read_excel(r"https://www.gairuo.com/file/data/dataset/team.xlsx")
df

        name team  Q1  Q2  Q3  Q4
0      Liver    E  89  21  24  64
1       Arry    C  36  37  37  57
2        Ack    A  57  60  18  84
3      Eorge    C  93  96  71  78
4        Oah    D  65  49  61  86
..       ...  ...  ..  ..  ..  ..
95   Gabriel    C  48  59  87  74
96   Austin7    C  21  31  30  43
97  Lincoln4    C  98  93   1  20
98       Eli    E  11  74  58  91
99       Ben    E  21  43  41  74

[100 rows x 6 columns]

In [16]:
# 按照team分组然后求和
df.groupby('team').sum()

        Q1    Q2    Q3    Q4
team
A     1066   639   875   783
B      975  1218  1202  1136
C     1056  1194  1068  1127
D      860  1191  1241  1199
E      963  1013   881  1033

In [17]:
# 对不同的列使用不同的计算方法
df.groupby('team').agg({'Q1':'sum', # 加
                        'Q2':'count',# 计数
                        'Q3':'mean', # 平均
                        'Q4':'max'}) # 最大

        Q1  Q2         Q3  Q4
team
A     1066  17  51.470588  97
B      975  22  54.636364  99
C     1056  22  48.545455  98
D      860  19  65.315789  99
E      963  20  44.050000  98

In [18]:
# 对相同的列使用不同的方法
df.groupby('team').agg({'Q1':['sum','std','max'], # 加
                        'Q2':'count',# 计数
                        'Q3':'mean', # 平均
                        'Q4':'max'}) # 最大

        Q1                   Q2         Q3  Q4
       sum        std max count       mean max
team
A     1066  24.155136  96    17  51.470588  97
B      975  32.607896  97    22  54.636364  99
C     1056  31.000768  98    22  48.545455  98
D      860  25.886166  80    19  65.315789  99
E      963  33.242767  97    20  44.050000  98

In [19]:
# 对Series分组
df.Q1.groupby(df.team).sum()

team
A    1066
B     975
C    1056
D     860
E     963
Name: Q1, dtype: int64

## 6.2 分组

In [20]:
df.groupby('team') # 分组对象是操作的基础

In [21]:
df.Q1.groupby(df.team)

### 6.2.2 按标签分组

In [23]:
# 制定DataFrame中的一列
grouped = df.groupby('col') # 单列
grouped1 = df.groupby('col',axis='columns') # 按行
grouped2 = df.groupby(['col1', 'col2']) # 多列

KeyError: 'col'

In [24]:
# 可以使用get_group 获取分组对象
grouped =  df.groupby('team')
# 查看D组
grouped.get_group('D')

         name team  Q1  Q2  Q3  Q4
4         Oah    D  65  49  61  86
8      Reddie    D  64  93  57  72
21      Ethan    D  79  45  89  88
23      Mason    D  80  96  26  49
27     Finley    D  62  73  84  68
44   Benjamin    D  15  88  52  25
48      Louie    D  24  84  54  11
49    Carter7    D  57  52  77  50
52     Bobby1    D  50  55  60  59
57     Albie1    D  79  82  56  96
59       Luca    D   5  40  91  83
63       Alex    D  14  70  55  87
65     Reuben    D  70  72  76  56
66    Jayden6    D  64  21  10  21
68    Hunter3    D  38  80  82  40
69  Theodore3    D  43   7  68  80
72      Luke6    D  15  97  95  99
89       Ezra    D  16  56  86  61
94      Aiden    D  20  31  62  68

### 6.2.3 表达式

通过行和列的表达式，生成一个布尔数据的系列，从而将数据分为False和True两组

In [25]:
# 索引值是否为偶数
df.groupby(lambda x: x%2 ==0).sum()

         Q1    Q2    Q3    Q4
False  2322  2449  2823  2699
True   2598  2806  2444  2579

In [27]:
df.groupby(df.index%2==0).sum() #同上

         Q1    Q2    Q3    Q4
False  2322  2449  2823  2699
True   2598  2806  2444  2579

In [28]:
# 索引值大于等于50为标准分组
df.groupby(lambda x: x >=50).sum()
# df.groupby(df.index>=50).sum() #同上

         Q1    Q2    Q3    Q4
False  2766  2628  2509  2613
True   2154  2627  2758  2665

In [33]:
# 列名是否包含Q分成两列
df.groupby(lambda x: "Q" in x,axis=1 ).sum()

        False  True
0      LiverE   198
1       ArryC   167
2        AckA   219
3      EorgeC   338
4        OahD   261
..        ...   ...
95   GabrielC   268
96   Austin7C   125
97  Lincoln4C   212
98       EliE   234
99       BenE   179

[100 rows x 2 columns]