In [1]:
import pandas as pd

In [3]:
s = pd.Series(range(5))
s

0    0
1    1
2    2
3    3
4    4
dtype: int64

In [8]:
s.mask(s>0,5)

0    0
1    5
2    5
3    5
4    5
dtype: int64

In [10]:
df1 = pd.DataFrame({"A":[12, 4, 5, None, 1], 
                   "B":[7, 2, 54, 3, None], 
                   "C":[20, 16, 11, 3, 8], 
                   "D":[14, 3, None, 2, 6]}) 

df1

      A     B   C     D
0  12.0   7.0  20  14.0
1   4.0   2.0  16   3.0
2   5.0  54.0  11   NaN
3   NaN   3.0   3   2.0
4   1.0   NaN   8   6.0

In [11]:
df1.mask(df1.isna(),1000)

        A       B   C       D
0    12.0     7.0  20    14.0
1     4.0     2.0  16     3.0
2     5.0    54.0  11  1000.0
3  1000.0     3.0   3     2.0
4     1.0  1000.0   8     6.0