# 这里用到了loc和lambda的结合方式，可以看出loc非常灵活

In [1]:
import pandas as pd

In [3]:
df = pd.read_excel('https://www.gairuo.com/file/data/dataset/team.xlsx')

In [4]:
df

        name team  Q1  Q2  Q3  Q4
0      Liver    E  89  21  24  64
1       Arry    C  36  37  37  57
2        Ack    A  57  60  18  84
3      Eorge    C  93  96  71  78
4        Oah    D  65  49  61  86
..       ...  ...  ..  ..  ..  ..
95   Gabriel    C  48  59  87  74
96   Austin7    C  21  31  30  43
97  Lincoln4    C  98  93   1  20
98       Eli    E  11  74  58  91
99       Ben    E  21  43  41  74

[100 rows x 6 columns]

In [11]:
df.loc[:,lambda d : ['name']+[n for n in d.columns if 'Q' in n]]

        name  Q1  Q2  Q3  Q4
0      Liver  89  21  24  64
1       Arry  36  37  37  57
2        Ack  57  60  18  84
3      Eorge  93  96  71  78
4        Oah  65  49  61  86
..       ...  ..  ..  ..  ..
95   Gabriel  48  59  87  74
96   Austin7  21  31  30  43
97  Lincoln4  98  93   1  20
98       Eli  11  74  58  91
99       Ben  21  43  41  74

[100 rows x 5 columns]

In [8]:
pd.__version__

'1.4.2'