In [2]:
import pandas as pd

链接 https://www.gairuo.com/p/pandas-exploding

In [3]:
s = pd.Series([[1, 2, 3], 'foo', [], [3, 4]])
s

0    [1, 2, 3]
1          foo
2           []
3       [3, 4]
dtype: object

In [4]:
s.explode()

0      1
0      2
0      3
1    foo
2    NaN
3      3
3      4
dtype: object

In [5]:
# DataFrame 的爆炸
df = pd.DataFrame({'A': [[1, 2, 3], 'foo', [], [3, 4]], 'B': 1})
df

           A  B
0  [1, 2, 3]  1
1        foo  1
2         []  1
3     [3, 4]  1

In [7]:
df.explode('A')

     A  B
0    1  1
0    2  1
0    3  1
1  foo  1
2  NaN  1
3    3  1
3    4  1

In [9]:
# Pandas 1.3.0 开始支持多列的炸开：
import numpy as np
df = pd.DataFrame({'A': [[0, 1, 2], 'foo', [], [3, 4]],
                   'B': 1,
                   'C': [['a', 'b', 'c'], np.nan, [], ['d', 'e']]})
df

           A  B          C
0  [0, 1, 2]  1  [a, b, c]
1        foo  1        NaN
2         []  1         []
3     [3, 4]  1     [d, e]

In [11]:
df.explode(list('AC'))

     A  B    C
0    0  1    a
0    1  1    b
0    2  1    c
1  foo  1  NaN
2  NaN  1  NaN
3    3  1    d
3    4  1    e

In [12]:
# 横向爆炸
df = pd.DataFrame(
    dict(
        name=['A', 'B', 'C', 'D'],
        age=[10, 20, 30, 40],
        code=[['c1', 'c2'], ['c2', 'c3'], ['c1'], ['c1', 'c3']]
        )
)

df

  name  age      code
0    A   10  [c1, c2]
1    B   20  [c2, c3]
2    C   30      [c1]
3    D   40  [c1, c3]

In [18]:
temp = df.code.apply(pd.Series).add_prefix(f"{df.code.name}_")
temp

  code_0 code_1
0     c1     c2
1     c2     c3
2     c1    NaN
3     c1     c3

In [19]:
pd.concat([df, temp],axis=1)

  name  age      code code_0 code_1
0    A   10  [c1, c2]     c1     c2
1    B   20  [c2, c3]     c2     c3
2    C   30      [c1]     c1    NaN
3    D   40  [c1, c3]     c1     c3