In [2]:
import pandas as pd
import numpy as np

In [4]:
x = list(np.arange(6))
x

[0, 1, 2, 3, 4, 5]

In [7]:
y = list(np.arange(3,9))
y

[3, 4, 5, 6, 7, 8]

In [8]:
index= [*"ZlAfBO"]
index

['Z', 'l', 'A', 'f', 'B', 'O']

In [9]:
df = pd.DataFrame({"x":x,"y":y},index=index)
df

   x  y
Z  0  3
l  1  4
A  2  5
f  3  6
B  4  7
O  5  8

In [10]:
df.reindex([*"fZlABO"])

   x  y
f  3  6
Z  0  3
l  1  4
A  2  5
B  4  7
O  5  8

In [12]:
df.loc[["A","B"]].sum()

x     6
y    12
dtype: int64